<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Solaris Capital</title>
	</head>
	<body widht=1000 height=1000 bgcolor="#6495ED">
		<center>
			<font style="color:floralwhite; font-size:40px">
				<img src="{{url_for('static', filename='solaris.png')}}" align="middle" /><br>
				Choose an Option<br>
			</font> 
				<a style="font-size:30px;text-decoration:none;color: mediumblue"href="http://127.0.0.1:5000/data" target="_blank"> Display Data</a><br>
				<a style="font-size:30px;text-decoration:none;color: mediumblue"href="http://127.0.0.1:5000/youngers/10" target="_blank"> 10 More Youngers</a><br>
				<a style="font-size:30px;text-decoration:none;color: mediumblue"href="http://127.0.0.1:5000/olders/10" target="_blank"> 10 More Olders</a><br>
				<a style="font-size:30px;text-decoration:none;color: mediumblue"href="http://127.0.0.1:5000/gender-distribution" target="_blank"> Gender Distribution</a><br>
				<a style="font-size:30px;text-decoration:none;color: mediumblue"href="http://127.0.0.1:5000/people/0" target="_blank"> Find People by CPF</a><br>
				<a style="font-size:30px;text-decoration:none;color: mediumblue"href="http://127.0.0.1:5000/blood-type" target="_blank"> Blood Type</a><br>
				<a style="font-size:30px;text-decoration:none;color: mediumblue"href="http://127.0.0.1:5000/peoples" target="_blank"> Peoples in Alphabetical Order</a><br>
				<a style="font-size:30px;text-decoration:none;color: mediumblue"href="http://127.0.0.1:5000/peoples/search0" target="_blank"> Find Peoples by Name</a><br>
		</center>
	</body>
</html>